
            body{
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #ecf0f5;
                
                );
            }

            header{
                background-color: #34d8db;
                color: white;
                text-align: center;
                padding: 1em;
            }

            section{
                max-width: 800px;
                margin: auto;
                padding: 20px;
            } 

            h1, h2 ,h3{
                color:#34d0db
            }

            .skills {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 20px;
            }

            .skills span {
                background-color: #29b2b9;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
            }

            .projects {
                list-style-type: none;
                padding: 0;
            }

            .projects li {
                background-color: #fff;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
            }

            footer {
                background-color: #34d0db;
                color: white;
                text-align: center;
                padding: 1px;
                position: fixed;
                bottom: 0;
                width: 100%;
            }